<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>CSV Analyzer</title>
     <!-- CSS -->
     <link href="assets/css/global.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="assets/css/skeleton.css">

     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript" src="assets/js/csv.js"></script>
     <script type="text/javascript" src="assets/js/main.js"></script>
     <script type="text/html" id='fillTable'>
       <table id="result" class="center">
         <% _.each(items, function(name) { %>
           <tr class="<%= name.rowClass %>">
             <% _.each(name.value, function(cell) { %>
               <td><%= cell %></td>
             <% }); %>
           </tr>
         <% }); %>
       </table>
     </script>
  </head>
  <body>
    
    <h1>Comma Separated Value Analyzer</h1>
    <div class="container"> 
      <p> Go to the <a href="https://github.com/ULL-ESIT-GRADOII-DSI/localstorage-jquery-underscore-express-sass-heroku-josue-nayra-dsi15-16-1" target="blank">repo</a>.</p>
      Write a CSV string. Click the table button. </br>
      The program outputs a table with the specified data.
      </br>
      <div id="div_twelve" class="twelve columns">
        <div id="div_six1" class="six columns">
          <table>
            <tr>
              <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
              <td><textarea autofocus cols = "35" rows = "5" id="original"></textarea></td> 
            </tr>
          </table>
          <button type="button">table:</button><br>
        </div>
        <div class="six columns">
          <span class="output" id="finaltable"></span>
        </div>
      </div> 
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="three columns">
            <a class="nombre" href="https://github.com/ULL-ESIT-GRADOII-DSI/object-oriented-programming-in-js-josue-nayra-dsi15-16" target="blank">Repositorio en GitHub</a>
          </div>
          <div class="three columns">
            <a class="nombre" href="http://josuetc94.github.io/" target="blank">Josué Toledo </a>
          </div>
          <div class="three columns">
            <a class="nombre" href="http://alu0100406122.github.io/" target="blank">Nayra Rguez</a>
          </div>
          <div class="three columns">
            <a class="nombre" href="https://campusvirtual.ull.es/1516/course/view.php?id=144" target="blank">Asignatura</a>
          </div>
        </div>
      </div>
  </footer>
    
  </body>
</html>
