<html>
  <head>

  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= title1 %></h2>
    <div>
      <p><i> Go to the <a href="">repo</a>.</i></p>
      <i>Write a CSV string. Click the table button. The program outputs a table with the specified data.</i>
    </div>
    <form action="/csv" method="post">
      <table>
        <tr>
          <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
          <td><textarea name ="original" autofocus cols = "80" rows = "5"></textarea></td> 
        </tr>
      </table>
      <button type="submit">table:</button><br>
    </form>
    
    <!--span class="output" id="finaltable"></span-->
  </body>
</html>